.pagination {
	background: $pagination_bg;
	padding: 0.5em;
	border-radius:.25em;
	margin-top: 1em;
	a {
		display: inline-block;
		padding: .25em 0.5em;
		background: $pagination_btn_bg;
		color: $pagination_btn_color;
		border-radius: 1em;
		margin-right: .5em;
		text-decoration: none;
		&.current {
			background: $pagination_btn_current_bg;
			color: $pagination_btn_current_color;
		}
	}
	span {
		background: $pagination_spacer_bg;
		color: $pagination_spacer_color;
		margin-right: 0.5em;
	}
}