image: takkatakka/lftp

stages:
  - deploy

variables:
  GIT_SUBMODULE_STRATEGY: recursive

before_script:
  - mkdir ~/.ssh
  - echo "$SSH_KEY" > ~/.ssh/id_rsa
  - ssh-keyscan -H '$HOST'
  - chmod -R 700 ~/.ssh
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'

update_sentry:
  stage: deploy
  image: axelterizaki/karaokemugen-ci:node-12
  cache:
    key: km-server-${CI_COMMIT_REF_SLUG}
    paths:
      - node_modules/
  script:
    - yarn install --frozen-lockfile
    - yarn build:all
    - yarn ts-node -P kmserver-core/tsconfig.json util/sentryUpdateReleases.ts
  only:
    - master
    - dev

deploy_moe:
  stage: deploy
  script:
    - lftp -c "set ftp:ssl-allow no; open -u $USERNAME,$PASSWORD $HOST; cd kmserver; mirror -Rnev --parallel=10 --exclude .env --exclude .git/ --exclude app/ --exclude config.yml --exclude database.json --exclude karaokemugen-app/ --exclude logs/ --exclude node_modules/ --exclude kmexplorer/.nuxt/ "
    - ssh -l $USERNAME $HOST 'cd kmserver ; yarn install ; yarn migrate; yarn build:all'
    - ssh -l $USERNAME $HOST 'sudo systemctl restart karaokemugen-server'
  variables:
    NODE_ENV: production
  environment:
    name: production-moe
    url: https://kara.moe
  only:
  - master

deploy_world:
  stage: deploy
  script:
    - lftp -c "set ftp:ssl-allow no; open -u $USERNAME,$PASSWORD $HOST; cd kmserver-world; mirror -Rnev --parallel=10 --exclude .env --exclude .git/ --exclude app/ --exclude config.yml --exclude database.json --exclude karaokemugen-app/ --exclude logs/ --exclude node_modules/ --exclude kmexplorer/.nuxt/ "
    - ssh -l $USERNAME $HOST 'cd kmserver-world ; yarn install ; yarn migrate; yarn build:all'
    - ssh -l $USERNAME $HOST 'sudo systemctl restart karaokemugen-server-world'
  variables:
    NODE_ENV: production
  environment:
    name: production-world
    url: https://world.karaokes.moe
  only:
  - master

deploy_dev:
  stage: deploy
  script:
    - lftp -c "set ftp:ssl-allow no; open -u $USERNAME,$PASSWORD $HOST; cd kmserver-dev; mirror -Rnev --parallel=10 --exclude .env --exclude .git/ --exclude app/ --exclude config.yml --exclude database.json --exclude karaokemugen-app/ --exclude logs/ --exclude node_modules/ --exclude kmexplorer/.nuxt/ "
    - ssh -l $USERNAME $HOST 'cd kmserver-dev ; yarn install ; yarn migrate; yarn build:all'
    - ssh -l $USERNAME $HOST 'sudo systemctl restart karaokemugen-server-dev'
  variables:
    NODE_ENV: production
  environment:
    name: dev
    url: https://dev.kara.moe
  only:
  - dev
