.DS_Store
.idea/
.npmrc
.vscode
node_modules
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
karaokemugen*.log
\.DS_Store
*.backup
*.ini
config.yml
*.bak
database.json
sftp-config.json
bin/
localtunnel-server/
kmexplorer/node_modules
kmexplorer/build
app/
logs/
!app/avatars/blank.png
!kmexplorer/src/app

kmexplorer/\.next/
kmimport/build

/*.pid
