App:
  InstanceID: Change me
  JwtSecret: Change me
BaseLicense:
  Name: ODbL/CC BY-NC-SA 4.0
  Link: https://lab.shelter.moe/karaokemugen/bases/karaokebase/-/blob/master/LICENSE.md
System:
  Binaries:
    ffmpeg:
      Linux: /usr/bin/ffmpeg
      Windows: ffmpeg.exe
      OSX: ffmpeg
  Repositories:
    - Name: kara.moe
      Online: false
      Path:
        Karas:
          - app/data/karaokes
        Lyrics:
          - app/data/lyrics
        Medias:
          - app/data/medias
        Series:
          - app/data/series
        Tags:
          - app/data/tags
Frontend:
  Port: 1350
API:
  Secure: false
  Host: localhost
Users:
  Enabled: true
Shortener:
  Enabled: true
Stats:
  Enabled: true
KaraExplorer:
  Path: /base
  LiveURL: https://live.karaokes.moe
  MediaLinks: true
  Import: true
Gitlab:
  Enabled: true
  Token: xxx
  Host: https://lab.shelter.moe
  ProjectID: 1
  IssueTemplate:
    Import:
      Title: '[Inbox] $kara'
      Labels:
        - to integrate
      Description: >
        A new karaoke has been sent to the Karaoke Mugen team inbox. Please integrate it as soon as possible if it meets the required quality criteria.


        The files (.kara, video, .ass and serial if necessary) are present in the following location of your FTP account: kmpublic / inbox


        # Karaoke data


        **File** : $file


        **Author(s)** : $author


        **Title** : $title


        **Series** : $series


        **Type** : $type$order


        **Language** : $lang


        **Year** : $year


        **Singer(s)** : $singer


        **Tag(s)** : Misc: $tags - Famillies: $families - Genres: $genres - Platforms: $platforms - Origins: $origins


        **Songwriter(s)** : $songwriter


        **Creator(s)** : $creator


        **Group(s)** : $groups


        **Duration** : $duration


        **Comment** : $comment
    Edit:
      Title: '[Correction] $kara'
      Labels:
        - to integrate
      Description: >
        A proposal to modify a karaoke has been sent. You will find all the new files in the inbox.


        # Karaoke data


        **File** : $file


        **New subtitle?**: $newSub


        **New media?**: $newVideo


        **Author(s)** : $author


        **Title** : $title


        **Series** : $series


        **Type** : $type$order


        **Language** : $lang


        **Year** : $year


        **Singer(s)** : $singer


        **Tag(s)** : Misc: $tags - Famillies: $families - Genres: $genres - Platforms: $platforms - Origins: $origins


        **Songwriter(s)** : $songwriter


        **Creator(s)** : $creator


        **Group(s)** : $groups


        **Duration** : $duration


        **Comment** : $comment
    Suggestion:
      Title : '[Suggestion] $serie - $title'
      Labels:
        - suggestion
      Description: >
        # Karaoke suggestion


        **Issue author** : $username


        **Title** : $title


        **Series** : $serie


        **Type** : $type


        **Link** : $link
    KaraProblem:
      Quality:
        Title: '[Media issue] $kara'
        Labels:
          - video quality
        Description: >
          # Media issue


          **Issue author** : $username


          **Comment** : $comment
      Time:
        Title: '[Time] $kara'
        Labels:
          - time
        Description: >
          # Poorly timed / defective karaoke


          **Issue author** : $username


          **Comment** : $comment