////////////////////////////////////////////////
// DARKLY
////////////////////////////////////////////////
@import 'bulmaswatch/darkly/_variables';

@import '@fortawesome/fontawesome-svg-core/styles.css';

$bulmaswatch-import-font: false;
@import "./lato";
@import './al-icons';

$background: #36393f;
$footer-background-color: $background;
$button-background-color: $background;
$button-border-color: lighten($button-background-color, 15);

$blue: #3771dc;
$info: $blue;

$input-background-color: $background;
$input-color: $grey-lighter;
$input-icon-active-color: white;

$box-background-color: darken($grey, 17);
$subtitle-color: $grey-lighter;
$subtitle-strong-color: $grey-lighter;
$subtitle-strong-color: $grey-lighter;

$success: darken($green, 20);

$link: lighten($turquoise, 15);

$warning: darken($orange, 15);

$danger: darken($red, 20);

$purple: #8702a3;

$footer-padding: 3rem 1.5rem 3rem;

@import 'bulma/bulma.sass';

@import 'bulmaswatch/darkly/_overrides';

html.theater,
html.theater body {
	overflow: hidden;

	.navbar.is-fixed-top {
		display: none;
	}
}

body.has-navbar-fixed-top, html.has-navbar-fixed-top {
	padding-top: 5rem;
}

.input::placeholder, .taginput .taginput-container.is-focusable::placeholder, .select select::placeholder {
	color: lighten($grey, 15);
}

.button.is-static {
	background-color: $grey-darker;
}

.navbar.is-fixed-top {
	border: none;
	border-radius: 0;
}

.tag:not(body).is-purple {
	background-color: $purple;
	color: white;
}

.dropdown .dropdown-menu .has-link a:hover, a.dropdown-item:hover, button.dropdown-item:hover {
	color: unset !important;
}

.autocomplete .dropdown-item.is-hovered, .autocomplete .dropdown .dropdown-menu .has-link a.is-hovered, .dropdown .dropdown-menu .has-link .autocomplete a.is-hovered {
	color: unset !important;
}

.footer {
	background-color: unset;
}

.button .svg-inline--fa {
	margin-right: 0.25em;
}

.button.is-purple {
	background-color: $purple;
	border-color: transparent;
	&:hover {
		background-color: scale-color($purple, $lightness: 7.5%);
	}
	&:focus {
		color: unset;
	}
}

.button.is-yellow {
	background-color: #7e6f18;
	border-color: transparent;
	&:hover {
		background-color: scale-color(#7e6f18, $lightness: 7.5%);
	}
	&:focus {
		color: unset;
	}
}

.columns {
	margin-top: calc(var(--maxh, 0px) - 4rem)
}

@media (min-width: $desktop) {
	.container.is-fluid.main {
		margin-left: 210px;
	}
	footer.footer {
		margin-left: 210px;
	}
}

@media (max-width: $desktop) {
	.columns {
		margin: 0;
	}
}

.container.is-fluid.main {
	padding: 0.75rem;
}

@import '@oruga-ui/theme-bulma/dist/scss/bulma';
