App:
  InstanceID: %UUID%
  JwtSecret: %UUID%
System:
  Database:
    username: karaokemugen_server
    password: blabla
    host: postgres
    database: karaokemugen_server
    port: 5432
  Binaries:
    ffmpeg:
      Linux: /usr/bin/ffmpeg
      Windows: ffmpeg.exe
      OSX: ffmpeg
  Repositories:
    - Name: mugen.re
      Online: true
      Enabled: true
      BaseDir: 'repos/karaokebase/git'
      FullArchiveURL: https://mugen.re/downloads/master.zip
      SourceArchiveURL: https://gitlab.com/karaokemugen/bases/mugenre-database/-/archive/main/mugenre-database-main.zip
      Path:
        Medias:
          - repos/karaokebase/medias
      Git:
        URL: https://gitlab.com/karaokemugen/bases/mugenre-database.git
        Branch: main
        ProjectID: 72177322 # Only for gitlab projects / issues
    - Name: Staging
      Online: false
      Enabled: true
      BaseDir: 'repos/staging/git'
      Path:
        Medias:
          - repos/staging/medias
Frontend:
  Port: 1350
  Host: localhost
  Secure: false
  Import:
    Enabled: true
    LimitedTagTypes:
      - 3
      - 5
      - 7
      - 9
      - 10
      - 11
      - 12
      - 13
      - 14
      - 15
      - 16
      - 0
  Suggestions: true
  InProgressSongsList: https://gitlab.com/karaokemugen/bases/mugenre-database/-/issues?scope=all&state=opened&label_name[]=Work in progress
  AddRepoModalInMenu: false
  ForumURL: https://discourse.karaokes.moe
  DiscordURL: https://karaokes.moe/discord
Hardsub:
  Enabled: true
Users:
  Enabled: true
Remote:
  Enabled: true
Stats:
  Enabled: true
Gitlab:
  Enabled: true
  Host: https://gitlab.com
  IssueTemplate:
    Import:
      Title: '[Inbox] $kara'
      Labels:
        - to integrate
      Description: >
        A new karaoke has been sent to the inbox.


        # Karaoke data


        **Songname** : $songname


        **Author(s)** : $author


        **Title** : $title


        **Versions** : $versions


        **Series** : $series


        **Franchises** : $franchises


        **Type** : $type$order


        **Language** : $lang


        **Year** : $year


        **Parents** : $parents


        **Group(s) of singers** : $singergroup


        **Singer(s)** : $singer


        **Collections** : $collections


        **Tag(s)** : Misc: $tags - Video Contents: $families - Genres: $genres - Platforms: $platforms - Origins: $origins - Warnings: $warnings


        **Songwriter(s)** : $songwriter


        **Creator(s)** : $creator


        **Group(s)** : $groups


        **Duration** : $duration


        **From Display Type** : $fromDisplayType


        **Comment** : $comment
    Edit:
      Title: '[Correction] $kara'
      Labels:
        - to integrate
      Description: >
        Someone suggested a karaoke edit. You will find all the new files in the inbox.


        # Karaoke data


        **Songname** : $songname


        **New subtitle?**: $newSub


        **New media?**: $newVideo


        **Author(s)** : $author


        **Title** : $title


        **Versions** : $versions


        **Series** : $series


        **Franchises** : $franchises


        **Type** : $type$order


        **Language** : $lang


        **Year** : $year


        **Parents** : $parents


        **Group(s) of singers** : $singergroup


        **Singer(s)** : $singer


        **Collections** : $collections


        **Tag(s)** : Misc: $tags - Video Contents: $families - Genres: $genres - Platforms: $platforms - Origins: $origins - Warnings: $warnings


        **Songwriter(s)** : $songwriter


        **Creator(s)** : $creator


        **Group(s)** : $groups


        **Duration** : $duration


        **From Display Type** : $fromDisplayType


        **Comment** : $comment
    Suggestion:
      Title: '[Suggestion] $displaytype - $title ~ $version Vers.'
      Labels:
        - suggestion
      Description: >
        # Karaoke suggestion


        **Issue author** : $username


        **Title** : $title


        **Singer(s)** : $singer


        **Series** : $series


        **Version** : $version


        **Media link** : $link


        **Lyrics link** : $lyricsLink


        **Comment** : $comment
    KaraProblem:
      Media:
        Title: '[Media issue] $kara'
        Labels:
          - media
        Description: >
          # Media issue


          **Issue author** : $username


          **Comment** : $comment
      Metadata:
        Title: '[Metadata issue] $kara'
        Labels:
          - metadata
        Description: >
          # Metadata issue


          **Issue author** : $username


          **Comment** : $comment
      Lyrics:
        Title: '[Lyrics issue] $kara'
        Labels:
          - lyrics
        Description: >
          # Lyrics issue


          **Issue author** : $username


          **Comment** : $comment
