@import '~antd/dist/antd.css';

.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all .3s;
}
.dynamic-delete-button:hover {
  color: #777;
}
.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.import-kara,html {
  background: #36393f;
}

.ant-form-item-label > label, .ant-upload-list-item-info > span, .ant-checkbox-wrapper > span {
  color: #fff;
}

.kara-form {
  margin-top: 1em;
}

.lang-label {
  margin-left: 25%;
}

.description {
  color: #fff;
  margin: 1em;
  font-size: medium;
}

.license-alert {
	margin-left: 2%;
	margin-right: 2%;
	max-width: 1000px;
}