body {
	text-align: center;
	font-family: sans-serif;
	justify-content: center;
	align-items: center;
	background-color: #2f3136;
	color: white;
}

.action {
	background-color: #ff5800;
	color: white;
	text-decoration: none;
	padding: 0.5em;
}
.action:visited {
	color: white;
}

img {
	width: 75%;
	max-width: 400px;
	height: auto;
	max-height: 400px;
}

.troubleshoot {
	width: 95%;
	max-width: 1200px;
	margin: 0.5em auto;
	padding: 0.5em;
	background-color: #0050e67f;
}