.kmx-kara-item {
  position: relative;
  margin: .5em;
  padding: 1em;
  border-left: 3px solid $kara_item_border_color;
  background: $kara_item_bg;
  width: calc(33.333% - 1em);

  @media screen and (max-width:1024px)
  {
    width: calc(50% - 1em);
  }

  @media screen and (max-width:720px)
  {
    width: 100%;
  }

  .kmx-kara-item-first-line {
    display: flex;
    justify-content: space-between;
  }

  .rightPanel {
	float: right;
	display: flex;
	flex-direction: column;
	align-items: center;
  }

  .countDisplayName {
	padding-top: 10px;
  }

  .countDisplay {
	font-size: 1.4em;
  }

  .caption {
    display: inline-block;
    margin: 0;
    width: 6em;
    height: 6em;
    border-radius: .5em;
    float: right;
    background-size: cover;
    background-position: center center;
    position: relative;
    span {
      background: rgba(#fff,0.7);
      color: #36393f;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 3em;
      height: 3em;
      line-height: 3em;
      text-align: center;
      vertical-align: middle;
      border-radius: 50%;
      svg {
        margin-left: 0.25em;
        width: 1.5em;
        height: 1.5em;
        margin-top: .75em;
      }
    }
    &:hover span {
      color: #ff6347;
    }
  }

  .title {
    font-size: 1.4em;
    font-weight: normal;
    margin: 0 0 .50em;
    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .songtypes {
    margin: 0 0 .5em;
    font-size: .7em;
    opacity: 0.7;
    width: 60%;
  }

  .tag-language {
    font-size: 1em;
    margin-top: 4px;
    white-space: nowrap;
    a {
      background: $kara_item_tag_default_bg;
      color: $kara_item_tag_default_color;
      text-decoration: none;
      padding: .5em;
      border-radius: .4em;
	  order:99;
	  margin-left: 5px;

      &[data-type="language"] {
        background: $kara_item_tag_language_bg;
        color: $kara_item_tag_language_color;
      }

      &:hover {
        background: $kara_item_tag_over_bg;
        color:$kara_item_tag_over_color;
      }

    }
  }

  .tags {
    font-size: 0.8em;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    a {
      display: inline-block;
      background: $kara_item_tag_default_bg;
      color: $kara_item_tag_default_color;
      text-decoration: none;
      padding: .5em;
      margin: 0 .25em .25em 0;
      border-radius: .4em;
      order:99;

      &[data-type="serie"] {
        order:1;
        background: $kara_item_tag_serie_bg;
        color: $kara_item_tag_serie_color;
        font-size: 1.3em;
        width: 95%;
      }
      &[data-type="singer"] {
        order:2;
        background: $kara_item_tag_singer_bg;
        color: $kara_item_tag_singer_color;
      }
      &[data-type="misc"] {
        order:3;
        background: $kara_item_tag_misc_bg;
        color: $kara_item_tag_misc_color;
      }

      &[data-type="group"] {
        order:4;
        background: $kara_item_tag_group_bg;
        color: $kara_item_tag_group_color;
      }
      &[data-type="family"] {
        order:5;
        background: $kara_item_tag_family_bg;
        color: $kara_item_tag_family_color;
      }
      &[data-type="origin"] {
        order:6;
        background: $kara_item_tag_origin_bg;
        color: $kara_item_tag_origin_color;
      }
      &[data-type="genre"] {
        order:7;
        background: $kara_item_tag_genre_bg;
        color: $kara_item_tag_genre_color;
      }
      &[data-type="platform"] {
        order:8;
        background: $kara_item_tag_platform_bg;
        color: $kara_item_tag_platform_color;
      }
      &[data-type="songtype"] {
        order:2;
      }

      &[data-type="author"] {
        background: $kara_item_tag_author_bg;
        color: $kara_item_tag_author_color;
      }
      &[data-type="creator"] {
        background: $kara_item_tag_creator_bg;
        color: $kara_item_tag_creator_color;
      }
      &[data-type="year"] {
        background: $kara_item_tag_year_bg;
        color: $kara_item_tag_year_color;
      }
      &[data-type="songwriter"] {
        background: $kara_item_tag_songwriter_bg;
        color: $kara_item_tag_songwriter_color;
      }

      &:hover {
        background: $kara_item_tag_over_bg;
        color:$kara_item_tag_over_color;
      }

    }
  }
}