.kmx-modal-wrapper {
	z-index: 1000;
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(#000,0.8);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.kmx-modal-panel {
		width: 400px;
		background-color: $modal_bg;
		border-radius: 6px;
		border: 1px solid rgba(0,0,0,.2);

		.kmx-modal-header {
			border-bottom: 1px solid #e5e5e5;
			padding: 5px;
		}

		.kmx-modal-content {
			padding: 15px;
			display: flex;
			flex-direction: column;

			div {
				display: flex;
				flex-direction: column;
				padding: 5px;
			}
		}

		.kmx-modal-footer {
			display: flex;
			justify-content: flex-end;
			padding: 5px;
			button {
				text-align: right;
				padding: 6px 12px;	
				border: 1px solid rgba(0,0,0,0);
				border-radius: 4px;
				color: $modal_button_color;
			}
		}
	}
}

.kmx-modal-abort {
	background-color: $modal_abort_bg;
}

.kmx-modal-confirm {
	background-color: $modal_confirm_bg;
}

