$main_font : 'Roboto', sans-serif;
$body_bg : #36393f;
$body_color : #ffffff;
$link_color : #26aacc;

$keyword_bg: #484c52;
$keyword_color: $body_color;

$line_bg: #484c52;
$filter_order_btn_bg: #42464d;
$filter_order_btn_color: #fff;
$filter_order_btn_over_bg: #26aacc;
$filter_order_btn_over_color: #fff;

$dedicated_tag_placeholder_bg: #484c52;
$dedicated_tag_default_bg: hsl(227, 20%, 32%);
$dedicated_tag_default_color: #fff;
$dedicated_tag_over_bg: #ff6347;
$dedicated_tag_over_color: #fff;

$filter_btn_bg: #42464d;
$filter_btn_color: #fff;
$filter_btn_over_bg: #26aacc;
$filter_btn_over_color: #fff;

$filter_panel_tag_default_bg : #3c414f;
$filter_panel_tag_default_color : #26aacc;
$filter_panel_tag_serie_bg : #3c414f;
$filter_panel_tag_serie_color : #ff6347;
$filter_panel_tag_singer_bg : #3c414f;
$filter_panel_tag_singer_color : #ffcd43;
$filter_panel_tag_misc_bg : #3c414f;
$filter_panel_tag_misc_color : #189d5e;
$filter_panel_tag_group_bg : #3c414f;
$filter_panel_tag_group_color : #189d5e;
$filter_panel_tag_family_bg : #3c414f;
$filter_panel_tag_family_color : #189d5e;
$filter_panel_tag_origin_bg : #3c414f;
$filter_panel_tag_origin_color : #189d5e;
$filter_panel_tag_genre_bg : #3c414f;
$filter_panel_tag_genre_color : #189d5e;
$filter_panel_tag_platform_bg : #3c414f;
$filter_panel_tag_platform_color : #189d5e;

$filter_panel_tag_over_bg: #ff6347;
$filter_panel_tag_over_color: #fff;
$filter_panel_border_color: #4f545c;
$filter_panel_tag_remove_bg: none;
$filter_panel_tag_remove_color: #fff;


$kara_item_border_color: #4f545c;
$kara_item_bg: #2f3136;
$kara_item_tag_default_bg : #3c414f;
$kara_item_tag_default_color : #26aacc;
$kara_item_tag_serie_bg : #3c414f;
$kara_item_tag_serie_color : #ff6347;
$kara_item_tag_singer_bg : #3c414f;
$kara_item_tag_singer_color : #ffcd43;
$kara_item_tag_songwriter_bg : #3c414f;
$kara_item_tag_songwriter_color : #26aacc;
$kara_item_tag_author_bg : #3c414f;
$kara_item_tag_author_color : #26aacc;
$kara_item_tag_creator_bg : #3c414f;
$kara_item_tag_creator_color : #26aacc;
$kara_item_tag_year_bg : #3c414f;
$kara_item_tag_year_color : #ffffff;
$kara_item_tag_language_bg : #3c414f;
$kara_item_tag_language_color : #cccccc;
$kara_item_tag_misc_bg : #3c414f;
$kara_item_tag_misc_color : #189d5e;
$kara_item_tag_group_bg : #3c414f;
$kara_item_tag_group_color : #189d5e;
$kara_item_tag_family_bg : #3c414f;
$kara_item_tag_family_color : #189d5e;
$kara_item_tag_origin_bg : #3c414f;
$kara_item_tag_origin_color : #189d5e;
$kara_item_tag_genre_bg : #3c414f;
$kara_item_tag_genre_color : #189d5e;
$kara_item_tag_platform_bg : #3c414f;
$kara_item_tag_platform_color : #189d5e;

$kara_item_tag_over_bg: #26aacc;
$kara_item_tag_over_color: #fff;
$kara_item_extra_color : #ccc;
$kara_item_more_bg : #26aacc;
$kara_item_more_color : #fff;
$kara_item_more_over_bg : #ff6347;
$kara_item_more_over_color : #fff;

$kara_item_files_bg : #3c414f;
$kara_item_files_color : #ccc;
$kara_item_files_over_bg : #26aacc;
$kara_item_files_over_color : #fff;

$pagination_bg: #484c52;
$pagination_btn_bg: #26aacc;
$pagination_btn_color: #fff;
$pagination_spacer_bg: none;
$pagination_spacer_color: #fff;
$pagination_btn_current_bg : #ff6347;
$pagination_btn_current_color : #fff;

$modal_bg: #3a3c45;
$modal_abort_bg: #422f2f;
$modal_confirm_bg: #304035;
$modal_button_color: #fff;